# Ignore everything
/*

# Except these files & folders
!/src
!index.html
!package.json
!tailwind.config.js
!tsconfig.json
!tsconfig.node.json
!vite.config.ts
!.prettierrc
!README.md
!eslint.config.js
!postcss.config.js
!.vscode/

# Ignore auto generated routeTree.gen.ts
/src/routeTree.gen.ts

# Ignore auto generated OpenAPI types (pnpm generate:api-types)
/src/lib/api/schema.d.ts